.item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.item:hover {
  background-color: #555555;
}
