.base-container {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .base-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 40px;
  }
}
